@model DotNetMidtermC.Models.Hug

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HugType.HugType1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hugee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HugDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.HugType.HugType1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hugee)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HugDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.HugId }) |
            @Html.ActionLink("Details", "Details", new { id=item.HugId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.HugId })
        </td>
    </tr>
}

</table>
